# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
antenv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
media/

# Environment files
.env
.env.*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
