{% extends "posts/base.html" %}

{% block content %}
    {% if posts %}
        <ul class="post-list">
            {% for post in posts %}
                <li class="post-list-item">
                    <h2 class="post-list-title">
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </h2>
                    <p class="post-meta">
                        {% if post.author %}By {{ post.author.get_username }} &middot; {% endif %}
                        <time datetime="{{ post.published_at|date:'c' }}">{{ post.published_at|date:'F j, Y' }}</time>
                    </p>
                    {% if post.summary %}
                        <p class="post-summary">{{ post.summary }}</p>
                    {% endif %}
                    <a class="read-more" href="{{ post.get_absolute_url }}">Read more &rarr;</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="empty-state">No posts yet. Check back soon!</p>
    {% endif %}
{% endblock %}
